header {
  .container {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    .link_menu {
      display: flex;
      align-items: center;
      padding: 8px 9px;
      width: 848px;
      .link {
        color: #2c2d2e;
        font-size: 16px;
        border-right: 1px solid #00103d1f;
        padding-right: 16px;
        padding-left: 16px;
        transition: 0.5s;
        &:hover {
          color: #ef7c00;
        }
      }
      .contact {
        color: #2c2d2e;
        font-size: 16px;
        padding-left: 16px;
      }
    }
    .til {
      display: flex;
      align-items: center;
      padding: 8px;
      .ru {
        border-right: 1px solid #00103d1f;
        padding-right: 4px;
      }
      p {
        padding-left: 4px;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
          color: #ef7c00;
        }
      }
    }
  }
}
