header {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;

  .link_menu {
    display: flex;
    align-items: center;
    padding: 8px 9px;
    width: 848px;

    .link {
      color: #2c2d2e;
      font-size: 15px;
      border-right: 1px solid #00103d1f;
      padding-right: 15px;
      padding-left: 15px;
      transition: 0.4s;
      &:hover {
        color: #ef7c00;
      }
    }

    .contact {
      color: #2c2d2e;
      font-size: 15px;
      padding-left: 15px;
      transition: 0.4s;
      &:hover {
        color: #ef7c00;
      }
    }

    .link {
      text-decoration: none;
      color: #000;
      position: relative;
    }

    .link_with_dropdown {
      position: relative;
    }

    .dropdown_menu {
      position: absolute;
      top: 49.5px;
      left: 0;
      background: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      border: 1px solid #00103d1f;
      border-radius: 0px, 0px, 4px, 4px;
    }

    .dropdown_link {
      display: block;
      font-size: 15px;
      padding: 10px 20px;
      text-decoration: none;
      color: #2c2d2e;
      white-space: nowrap;
      transition: 0.4s;
    }

    .dropdown_link:hover {
      color: #ef7c00;
    }
  }

  .til {
    display: flex;
    align-items: center;
    padding: 8px;

    .ru {
      border-right: 1px solid #00103d1f;
      padding-right: 4px;
    }

    p {
      padding-left: 4px;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        color: #ef7c00;
      }
    }
  }
}
